.square {
    display: flex;
    width: 260px;
    height: 260px;
    border: 5px solid rgba(197, 197, 197, 0.449);
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 140px;
    font-weight: 400;
    transition: opacity 0.3s ease-in-out;
}

.newSquares{
    display: flex;
    flex-direction: row;
    background-color: white;
}

.newSquare{
    background-color: wheat;
}

.button-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 350px;
    height: 350px;
}



.game-area .arrow-btn{
    width: 180px;
    height: 180px;
    font-size: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(35, 0, 124);
    border-radius: 10px;
    background-color: transparent;
    border: 5px solid rgba(197, 197, 197, 0.449);
}
.game-area .arrow-btn:hover{
    background-color: hsl(218, 61%, 38%)
}

.up {
    grid-column: 2;
    grid-row: 1;
}

.left {
    grid-column: 1;
    grid-row: 2;
}

.down {
    grid-column: 2;
    grid-row: 2;
}

.right {
    grid-column: 3;
    grid-row: 2;
}

@media only screen and (max-width: 650px){
    .game-area .arrow-btn{
        width: 120px;
        height: 120px;
        font-size: 50px;
    }

}
@media only screen and (max-width: 420px){
    .game-area .arrow-btn{
        width: 90px;
        height: 90px;
        font-size: 40px;
    }

    .button-container {
        width: 300px;
        height: 300px;
    }

}

@media only screen and (max-width: 350px){
    .game-area .arrow-btn{
        width: 75px;
        height: 75px;
        font-size: 30px;
    }

    .button-container {
        width: 250px;
        height: 250px;
    }

    .square {
        width: 220px;
        height: 220px;
    }
}