*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
    text-rendering: optimizeLegibility;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  button, input, textarea {
    font: inherit;
    border: none;
    outline: none;
  }

  header{
    display: flex;
    color:  #161616;
    justify-content: flex-start;
    margin-left: 40px;
    width: calc(100% - 40px);
    height: auto;
}



body{
    background-color: hsl(0, 0%, 85%);
    justify-content: center;
}

@media only screen and (max-width: 550px){

  header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }

}

@media only screen and (max-width: 300px){

  header h1{
    font-size: 1.5rem;
  }

}